#logincard {
    margin-top: 100px;
}

.nav-link.disabled {
    margin-left: 48px;
}

#buttonscolumn{
    
    display: flex;
    column-gap: 50px;
}

@media (max-width: 800px) { 
    #dash {
        display: none;
    };

}

@media (max-width: 500px) {
    #col1 {
        width: max-content;
    }
    #buttonscolumn{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #buttonscolumn button{
        margin: 2px auto;
    }
}